<h1 class="fw-bold mt-5">Halaman Contact ☎</h1>
<p class="fs-5">Add new contact</p>

<form action="/contact" method="POST">
    <input type="text" class="form-control form-control-lg w-25" name="name" id="name" placeholder="Name">
    <input type="text" class="form-control form-control-lg w-25 mt-2" name="phoneNumber" id="phoneNumber" placeholder="Phone Number">
    <input type="email" class="form-control form-control-lg w-25 mt-2" name="email" id="email" placeholder="Email">
    
    <button type="submit" class="btn btn-primary mt-3 w-25">Submit</button>
</form>