body {
  background-color: rgb(20, 20, 20);
}

h1,
h2,
h3,
a,
span,
p {
  color: white !important;
}

.form-control {
  border-color: rgb(20, 20, 20);
}

.form-control p {
  color: white !important;
}

/* 
mansory
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 10px;
}

@media screen and (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 5px;
  }
}

.gallery_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.gallery_item:hover {
  transform: scale(1.05);
} */
